.dark {
    .main-search__button svg {
        fill: #757575;
    }

    .navbar, footer {
        background-color: #222222 !important;
    }

    .nav-link {
        color: #fff !important;
    }

    table .accordion-button,
    .info-table .accordion-button{
        background-color: #131313;
    }

    table .accordion-item,
    .info-table .accordion-item{
        background-color: #131313;
    }

    .info-table {
        color: #fff !important;
        background-color: #131313 !important;
        border-color: #282828 !important;

        .border-bottom {
            border-color: #282828 !important;
        }

        .table {
            width: -webkit-fill-available;
        }
    }
}
